body{
    background-image: url("../images/background/wallpaper.png");
}

a{
    text-decoration: none;
}

.master-container{
    text-align: center;
}

.content-container{
    position: relative;
    display: inline-block
}
.content-wrapper{
    display:flex;
}

.right-side-bar{
    display:flex;
    flex-direction: column;

    width: 180px;
}

    .drop-down-container{
        width: inherit;
        height: 515px;
        display: block;
    }

        .civilization-menu{
            width: 100%;
            height: 100%;
        }

.select-title{
    text-align:center;
    background-color: rgb(158, 253, 255);
    color: black;
}


select{
    background-color: rgb(158, 253, 255);
    font-family: Marker Felt, fantasy;  
    font-size: 16px; 
}

    select optgroup + label {
        color:violet;
    }

    select optgroup:hover{
        color:violet;
    }


    .production{
        background-color: black;
        color: rgb(91,92,255);
    }

    .community{
        background-color: black;
        color:rgb(108,235,117); 
    }

    .cat{
        font-family: Marker Felt, fantasy;
        color: violet;
    }

    .nocat{
        color:black;
    }

    .nocat:hover{
        background-color: violet;
    }



.pattern-color{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(1px);
}

.canvas-container{
    width: 700px;
    border: 1px solid purple;
    position: relative;

}

.gamebox{
   margin: 0 10px;
   width: min(678px);
    
}

#canvas-home{
    background-color: #fc575e;
    border: 5px solid black;
    background-image: linear-gradient(40deg, #fc575e 0%, #90d5ec 74%);
}




.scroll-wrapper{
    margin: 100px 0 0 0;
    position: relative;
}

.scroll{
    width: 180px;
    height: auto;
}

    .my-links{
        height: 224px;
        width: 180px;
    }

.icon{
    width: 50px;
    height: 50px;
}

.badge{
    margin-top: 5px;
    margin-bottom: 5px;
}

.playerAlert{
    position: absolute;
    overflow-wrap: break-word;
    width: 150px;
    top:3%;
    left:5%;
    font-size: 25;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

.playerAlert2{
    position: absolute;
    overflow-wrap: break-word;
    width: 130px;
    top: 22%;
    left: 9%;
    color: rgba(158, 253, 255);
    font-size: 25;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.red{
    color: rgb(246,82,90);
}

.flex-row-start{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.flex-col-start{
    display: flex;
    flex-direction: column;
}

.flex-col-btwn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-container #rules-wrapper{
    background-image: url("../images/background/mtnsrules.png");
    position: absolute;
    height: 547px;
    width:678px;
    top: 0%;
    left: 18%;
    z-index: 2;
    overflow-wrap: break-word;
}

    .dogtag{
        margin: 10px auto;
        width: min(444px);
        background: linear-gradient(35deg, rgba(116,116,116,0.8) 100%,  rgba(255,255,255,0.8) 0%);
        border-radius: 4px;
        z-index: 3;

    }

    #sm-dogtag{
        margin: 3px auto 0;
        width: min(200px);
        background: linear-gradient(35deg, rgba(116,116,116,0.8) 100%,  rgba(255,255,255,0.8) 0%);
        border-radius: 4px;
        z-index: 3;
    }


    #sm-dogtag:hover{
        color: black;
        font-weight: 800;
        background: rgb(210,237,3);
        background: linear-gradient(74deg, rgba(210,237,3,1) 0%, rgba(92,230,19,1) 100%);
    }

    #xs-dogtag{
        margin: 3px auto 0;
        width: min(150px);
        background: linear-gradient(35deg, rgba(116,116,116,0.8) 100%,  rgba(255,255,255,0.8) 0%);
        border-radius: 4px;

    }

    #xs-dogtag:hover{
        color: black;
        font-weight: 800;
        background: rgb(210,237,3);
        background: linear-gradient(74deg, rgba(210,237,3,1) 0%, rgba(92,230,19,1) 100%);
    }

        .rules-content{
            filter: blur(0);
            z-index: 4;
            padding: 8px;

        }

        .inline{
            display:inline-block;
            width: 25%;
        }

        .center{
            margin: 0 auto;
        }

        .spacer{
            margin: 10px 0;
        }

.hidden{
    display: none;
}

.shrink{
    width:0;
    height: 0;
}


.youwin{
    position: absolute;
    height: 537px;
    width:678px;
    top: 0%;
    left: 18%;
    z-index: 2;

}

.youlose{
    position: absolute;
    height: 537px;
    width:678px;
    top: 0%;
    left: 18%;
    z-index: 2;
}

.w-50{
    width: 50%;
}

.w-80{
    width: 80%
}

.pad-l-3{
    padding-left: 3px;
}

.loud{
    margin-top:2px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.medium-voice{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.m4-tb{
    margin:4px 0 ;
}

.quiet-voice{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.neonblue{
    color: rgba(158, 253, 255);
}

.neon-green{
    color: rgb(14, 255, 6);
}

.white{
    color:#FFF;
}