
.canvas-container{
    border: 1px solid purple;

}

.drop-down-container{
    width: 200px;
    height: 200px;

    border: 1px solid yellow;
    display: block;
}

.gamebox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-start{
    display: flex;
    justify-content: center; 
    align-items: center;
}

